<h1 class="bg-light text-dark">Home Component Works</h1>





<img (click)="test($event)" src="../../assets/Wallpaper.jpg" alt="" srcset="">

















<!-- <div class="container">
  <div class="row">
    <div *ngFor="let m of trendingMovies" class="col-md-2">
      <div class="movie">
        <img [src]="imgPrefix+m.poster_path" class="w-100">
        <h5>{{m.title}}</h5>
        <p>{{m.overview}}</p>
      </div>
    </div>
  </div>
</div> -->



<!-- <h4>{{username}}</h4>
<h2>{{userAge}}</h2>
<img [src]="ImgSrc" [width]="ImgWidth"/> -->
<!-- <app-web [nameFromParent]="Carts" ></app-web> -->
<!-- <button (click)="welcome($event)">Press Welcome Statement</button> -->
<!-- <input (keyup.w)="welcome($event)">
<table *ngIf="hService.length>0; else hambozo" class="table w-75 mx-auto text-center">
  <thead>
    <th>Index(ID)</th>
    <th>Name</th>
    <th>Gender</th>
    <th>Salary</th>
    <th>Age</th>
  </thead>
  <tbody>
    <tr  [style.backgroundColor]="l==true?'#ccc': '' " *ngFor="let user of hService; let i = index ; let isEven=even; let l=first ">
      <td>{{i}}</td>
      <td>{{user.name}}</td>
      <td>{{user.gender}}</td>
      <td>{{user.salary}}</td>
      <td>{{user.age}}</td>
    </tr>
  </tbody>
</table>

<ng-template #hambozo>
  <h2 class="text-center bg-light">No User Data</h2>
  </ng-template>
<hr>
<br>
<br> -->
